<script>
  import AppBar from "smelte/src/components/AppBar"
  import Button from "smelte/src/components/Button"
  import List from "smelte/src/components/List"
  import ListItem from "smelte/src/components/List/ListItem.svelte"
  import NavigationDrawer from "smelte/src/components/NavigationDrawer"
  import ProgressLinear from "smelte/src/components/ProgressLinear"
  import Tabs from "smelte/src/components/Tabs"
  import { Spacer } from "smelte/src/components/Util"
  import {
    right,
    elevation,
    persistent,
    showNav,
    showNavMobile,
    breakpoint,
  } from "smelte/src/stores.js"
  import { fade } from "svelte/transition"

  import { stores } from "@sapper/app"
  import NewIssueModal from "../components/NewIssueModal.svelte"
  import config from "../config"
  import { showNewIssueModal } from "../stores"

  export let segment

  const bp = breakpoint()
  const navMenu = [
    { to: "a_propos", text: "À propos…" },
    { to: "deputes", text: "Députés" },
    { to: "dossiers/assemblee", text: "Dossiers Assemblée" },
    { to: "dossiers/senat", text: "Dossiers Sénat" },
  ]
  const { page, preloading } = stores()
  // let selected = ""
  const topMenu = [
    { to: "a_propos", text: "À propos…" },
    { to: "deputes", text: "Députés" },
    { to: "dossiers/assemblee", text: "Dossiers Assemblée" },
    { to: "dossiers/senat", text: "Dossiers Sénat" },
  ]

  $: path = $page.path
</script>

{#each navMenu as link}
  <a href={link.to} class="a sr-only">{link.text}</a>
{/each}

{#if $preloading}
  <ProgressLinear app />
{/if}

<AppBar>
  <a class="flex items-center px-2 md:px-8" href={config.url}>
    <img
      src="aiguilles_a_tricoter_300x260.png"
      alt="Logo du projet Tricoteuses"
      width="44" />
    <h6 class="pl-3 text-white tracking-widest font-thin text-lg">
      Tricoteuses
    </h6>
  </a>
  <Spacer />
  <Tabs navigation items={topMenu} bind:selected={path} />
  <div class="md:hidden">
    <Button
      icon="menu"
      small
      flat
      remove="p-1 h-4 w-4"
      iconClass="text-white"
      iconClasses="{i => i.replace('p-4', 'p-3').replace('m-4', 'm-3')}"
      text
      on:click={() => showNavMobile.set(!$showNavMobile)} />
  </div>
</AppBar>

{#if $bp}
  <main
    class="container relative p-8 lg:max-w-3xl lg:ml-64 mx-auto mb-10 mt-24
    md:ml-56 md:max-w-md md:px-3"
    transition:fade={{ duration: 300 }}>
    <NavigationDrawer
      bind:showDesktop={$showNav}
      bind:showMobile={$showNavMobile}
      right={$right}
      persistent={$persistent}
      elevation={$elevation}
      breakpoint={$bp}>
      <h6 class="p-6 ml-1 pb-2 text-xs text-gray-900">Components</h6>
      <List items={navMenu}>
        <span slot="item" let:item class="cursor-pointer">
          <ListItem
            dense
            id={item.id}
            navigation
            selected={path.includes(item.to)}
            selectedClasses="bg-primary-transLight hover:bg-primary-transLight">
            <a href={item.to}>{item.text}</a>
          </ListItem>
        </span>
      </List>
      <hr />
    </NavigationDrawer>

    <slot />
    {#if $showNewIssueModal}
      <NewIssueModal path={$page.path} />
    {/if}
  </main>
{/if}
