<script context="module">
  import { insertActeurReferences } from "@tricoteuses/assemblee/lib/inserters"

  import config from "../../config"
  import { validateJsonResponse } from "../../validators/responses"

  export async function preload(page /* , session */) {
    const deputes = await retrieveDeputesActifs(this.fetch, this.error, page)
    return {
      deputes,
    }
  }

  async function retrieveDeputesActifs(fetch, gotoError, page) {
    const response = await fetch(
      new URL(
        "acteurs/deputes_actifs?" +
          ["follow=acteur.mandats.organes"].join("&"),
        config.assembleeApi.url,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${
          page.path
        }, while retrieving "députés actifs": ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }

    return result.uids.map(uid =>
      insertActeurReferences(result.acteurByUid[uid], result, new Set()),
    )
  }
</script>

<script>
  import Card from "smelte/src/components/Card"

  import {
    getAttribute,
    getCommissionPermanente,
    getGroupePolitique,
  } from "../../model/assemblee"
  import { showNewIssueModal } from "../../stores"

  export let deputes

  const today = new Date().toISOString().split("T")[0]

  function nomEtPrenom(acteur) {
    const { nom, prenom } = acteur.etatCivil.ident
    return `${nom}, ${prenom}`
  }

  function photoUrl(acteur) {
    return new URL(acteur.photo.chemin, config.assembleeApi.url)
  }
</script>

<svelte:head>
  <title>Députés | {config.title}</title>
</svelte:head>

{#each deputes as depute}
  <a class="a" href="personnes/assemblee/{depute.uid}">
    <Card.Card>
      <div slot="title">
        <Card.Title
          title={nomEtPrenom(depute)}
          subheader={getAttribute(getGroupePolitique(depute, today), "libelle", "Groupe inconnu")}
          avatar={photoUrl(depute)} />
      </div>
      <div class="mx-auto" slot="text">
        <i>
          {getAttribute(getCommissionPermanente(depute, today), "libelleAbrege", "Commission inconnue")}
        </i>
      </div>
    </Card.Card>
  </a>
{/each}

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2
        class="bg-indigo-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div
        class="bg-indigo-100 border border-t-0 border-indigo-400 px-4 py-3
        rounded-b text-indigo-600">
        <h3 class="font-medium mb-1 text-base text-normal">
          Assemblée nationale
        </h3>

        <ul>
          <li>
            <a
              class="a"
              href="https://www2.assemblee-nationale.fr/qui"
              target="_blank">
              Députés
            </a>
          </li>
        </ul>

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          NosDéputés.fr
        </h3>

        <ul>
          <li>
            <a class="a" href="https://www.nosdeputes.fr/" target="_blank">
              Activité parlementaire des députés
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div
        class="bg-teal-100 border border-t-0 border-teal-400 px-4 py-3 rounded-b
        text-teal-600">
        <ul>
          <li>
            <button
              class="button-link"
              on:click={() => ($showNewIssueModal = true)}
              title="Ouvre un formulaire de saisie d'une remarque sur cette
              page."
              type="button">
              Signaler un problème ou suggérer une amélioration
            </button>
          </li>
          <li>
            <a
              class="a"
              href="deputes/api"
              target="_blank"
              title="Voir les appels à l'API effectués pour générer cette page.">
              Appels à l'API
            </a>
          </li>
          <li>
            <a
              class="a"
              href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/deputes/index.html"
              target="_blank"
              title="Voir le code source de la page dans la forge du logiciel.">
              Code source de cette page
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
