<script>
  import RomanNumber from "roman-number"

  import SenatEcrs from "./SenatEcrs.svelte"
  import {
    frenchDateWithoutDayOfWeekFromDateOrString,
    frenchTimeFromDateOrString,
  } from "../../dates"

  export let lecass
  export let lecture
  export let step

  function resolveUrl(url, path) {
    return new URL(path, url).toString()
  }
</script>

{#if step.kind === "AmendementsCommission"}
  Dépôt des
  <a href="discussions/senat/{step.lecassamesescom}/{step.lecassamecom}">amendements</a>
  en vue de l'élaboration du texte de la commission
  (délai limite : {frenchTimeFromDateOrString(step.lecassamecomdat)})
{:else if step.kind === "AmendementsSeance"}
  Dépôt des
  <a href="discussions/senat/{step.lecassameses}/{step.lecassame}">amendements</a>
  sur le texte de la commission
  (délai limite : {frenchTimeFromDateOrString(step.lecassamedat)})
{:else if step.kind === "Aud"}
  {#if step.audurl}
    <a href="{resolveUrl("https://www.senat.fr/", step.audurl)}" target="_blank">{step.audtit}</a>
  {:else}
    {step.audtit}
  {/if}
{:else if step.kind === "DateSeance"}
  Séance publique
  {#if step.statut}
    ({step.statut === "EVENT" ? "éventuellement" : step.statut})
  {/if}
  {#if step.debat || step.scrs.length > 0}
    <ul>
      {#if step.debat}
        <li>
          <a href="{resolveUrl("https://www.senat.fr/seances/", step.debat.deburl)}" target="_blank">Compte rendu intégral des débats</a>
        </li>
      {/if}
      {#each step.scrs as scr}
        <li>
          <a href="https://www.senat.fr/scrutin-public/{scr.sesann}/scr{scr.sesann}-{scr.scrnum}.html" target="_blank">Scrutin public n° {scr.scrnum}</a>
          {scr.scrint}
          {#if scr.scrpou > scr.scrcon}
            <span class="bg-green rounded text-xs text-white">adopté</span>
          {:else if scr.scrpou === scr.scrcon}
            <span class="bg-orange rounded text-xs text-white">indécis</span>
          {:else}
            <span class="bg-red rounded text-xs text-white">rejeté</span>
          {/if}
        </li>
      {/each}
    </ul>
  {/if}
{:else if step.kind === "DecisionConseilConstitutionnel"}
  {#if step.deccocurl}
    <a href={step.deccocurl} target="_blank">Décision n° {step.num_decision}</a>
  {:else}
    Décision n° {step.num_decision}
  {/if}
  {#if step.deccoc}
    :
    {#if step.deccoc.deccoccod == "01"}
      <span class="bg-green rounded text-xs text-white">{step.deccoc.deccoclib}</span>
    {:else if step.deccoc.deccoccod == "02"}
      <span class="bg-orange rounded text-xs text-white">{step.deccoc.deccoclib}</span>
    {:else if step.deccoc.deccoccod == "03"}
      <span class="bg-red rounded text-xs text-white">{step.deccoc.deccoclib}</span>
    {:else}
      <span class="bg-yellow rounded text-xs text-black">{step.deccoc.deccoclib}</span>
    {/if}
  {/if}
{:else if step.kind === "EngagementProcedureAcceleree"}
  Engagement de la procédure accélérée
{:else if step.kind === "LecAssRap"}
  <a href="{resolveUrl("https://www.senat.fr/rap/", step.rap.rapurl)}" target="_blank">
    {step.rap.denrap.libdenrap}
    {#if lecass.ass.codass === "S"}
      n° {step.rap.rapnum} <small>({step.rap.sesann}-{step.rap.sesann + 1})</small>{
    :else}
      n° {step.rap.rapnum}{
    /if
    }{#if step.rap.numerobis}
      {step.rap.numerobis}{
    /if
    }{#if step.rap.raptom}
      tome {new RomanNumber(step.rap.raptom).toString()}{
    /if}
  </a>
  {#if step.rap.ecrs.length > 0}
    de
    <SenatEcrs ecrs={step.rap.ecrs} trailingComma={false}/>
  {/if}
  {#if step.rap.docatts}
    <ul>
      {#each step.rap.docatts as docatt}
      <li><a href={resolveUrl("https://www.senat.fr/", docatt.docatturl)} target="_blank">{
        docatt.typattcod === "S" ? "Synthèse du rapport" : docatt.typatt.typattlib
      }</a></li>
      {/each}
    </ul>
  {/if}
{:else if step.kind === "OppositionProcedureAcceleree"}
  Opposition à la procédure accélérée
{:else if step.kind === "PromulgationLoi"}
  Promulgation de la loi n° {step.numero}
{:else if step.kind === "PublicationLoi"}
  Parution au
  <a href={step.url_jo} target="_blank">Journal officiel n° {step.loinumjo}</a>
  de la loi n° {step.numero} du {frenchDateWithoutDayOfWeekFromDateOrString(step.date_loi)}
  {step.loititjo}
{:else if step.kind === "PublicationPremierCorrectifLoi"}
  Parution d'un correctif au
  <a href={step.url_jo2} target="_blank">Journal officiel n° {step.loinumjo2}</a>
{:else if step.kind === "PublicationSecondCorrectifLoi"}
  Parution d'un second correctif au
  <a href={step.url_jo3} target="_blank">Journal officiel n° {step.loinumjo3}</a>
{:else if step.kind === "RetraitProcedureAcceleree"}
  Retrait de la procédure accélérée
{:else if step.kind === "SaisineConseilConstitutionnel"}
  Saisine par {step.saisine_par}
{:else if step.kind === "Texte"}
  <a href="documents/senat/{step.texcod}">
    Texte n°
    {#if lecass.ass.codass === "S"}
      {step.texnum} <small>({step.sesann}-{step.sesann + 1})</small>{
    :else
      }{step.texnum}{
    /if
    }{#if step.numerobis
      } {step.numerobis}{
    /if}
  </a>
  {#if step.ecrs.length > 0}
    de
    <SenatEcrs ecrs={step.ecrs} trailingComma={true}/>
  {/if}
  {step.oritxt
    ? step.oritxt.oritxtlib.endsWith(" (AN)")
      ? step.oritxt.oritxtlib.substring(0, step.oritxt.oritxtlib.length - " (AN)".length)
      : step.oritxt.oritxtlib
    : "déposé"
  }
  {#if step.oritxt}
    {#if step.oritxt.oritxtado === "O"}
      <span class="bg-green rounded text-xs text-white">
        adopté
        {#if step.oritxt.oritxtmod === "O"}
          après modification
        {/if}
      </span>
    {:else if step.oritxt.oritxtado === "N" && step.oritxt.oriordre !== "0"}
      <!-- Show "rejeté" only when oriordre != 0 (ie "initial", "déposé"). -->
      <span class="bg-red rounded text-xs text-white">rejeté</span>
    {/if}
  {/if}
{:else}
  <p>Step non traité :</p>
  <pre class="whitespace-pre-wrap">{JSON.stringify(step, null, 2)}</pre>
{/if}
