<script context="module">
  import { insertTexteReferences } from "@tricoteuses/senat/lib/inserters"

  import config from "../../../../config"
  // import {
  //   classFromSubdivisionLevel,
  //   urlFromTexte,
  // } from "../../../../model/senat"
  import { validateJsonResponse } from "../../../../validators/responses"

  export async function preload(page) {
    const { texte: texcod } = page.params

    const texte = await retrieveTexte(this.fetch, this.error, page, texcod)

    const { subdivisions } = await retrieveContenuTexte(
      this.fetch,
      this.error,
      page,
      texte.texcod,
    )

    return {
      texte,
      // texteSenatUrl: urlFromTexte(texte, "html"),
      // pdfTexteSenatUrl: urlFromTexte(texte, "pdf"),
      // rawTexteSenatUrl,
      subdivisions: subdivisions || [],
    }
  }

  async function retrieveContenuTexte(fetch, gotoError, page, texcod) {
    let response = await fetch(
      new URL(`textes/${texcod}/contenu`, config.senatApi.url).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${
          page.path
        }, while retrieving "contenu du texte de loi": ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    return result
  }

  async function retrieveTexte(fetch, gotoError, page, texcod) {
    const response = await fetch(
      new URL(
        `textes/${texcod}?` +
          [
            "texte.ecrs",
            "texte.org",
            "texte.oritxt",
            "texte.txtAmeli",
            "texte.typtxt",
            "texte.typurl",
          ]
            .map(follow => `follow=${follow}`)
            .join("&"),
        config.senatApi.url,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${page.path}, while retrieving texte: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    return insertTexteReferences(result.texte[result.id], result, new Set())
  }
</script>

<script>
  import { showNewIssueModal } from "../../../../stores"

  export let texte
  export let subdivisions
  // export let texteSenatUrl
  // export let pdfTexteSenatUrl
  // export let rawTexteSenatUrl

  // const headingPrefixRegExpByLevel = {
  //   1: /^Tome /i,
  //   2: /^Partie /i,
  //   3: /^Livre /i,
  //   4: /^Titre /i,
  //   5: /^Chapitre /i,
  //   6: /^Section /i,
  //   7: /^Sous-section /i,
  //   8: /^Paragraphe /i,
  //   9: /^Article /i,
  // }

  // let legislationToAmend = null
  // let locationHref = null

  // function amendaUrl(path) {
  //   return new URL(path, config.amenda.url)
  // }

  // async function prepareToAmend() {
  //   // Generate Markdown text.
  //   const lines = []
  //   for (const subdivision of subdivisions) {
  //     let header = subdivision.text.headers[0]
  //     const headingPrefixRegExp = headingPrefixRegExpByLevel[subdivision.level]
  //     if (!headingPrefixRegExp.test(header)) {
  //       header = `[NIVEAU ${subdivision.level}] ${header}`
  //     }
  //     lines.push("")
  //     lines.push(`${"#".repeat(subdivision.relativeLevel)} ${header}`)
  //     for (const header of subdivision.text.headers.slice(1)) {
  //       lines.push("")
  //       lines.push(`${"#".repeat(subdivision.relativeLevel)} ${header}`)
  //     }
  //     for (const alinea of subdivision.text.alineas) {
  //       lines.push("")
  //       lines.push(alinea)
  //     }
  //   }
  //   lines.shift() // Remove first blank line.

  //   legislationToAmend = lines.join("\n") + "\n"
  //   locationHref = window.location.href // eslint-disable-line no-undef
  // }

  function resolveUrl(url, path) {
    return new URL(path, url).toString()
  }
</script>

<!-- <svelte:head>
  <title>
    {texte.titres.titrePrincipalCourt} | Sénat | Textes | {config.title}
  </title>
</svelte:head> -->

<article>
  <!-- <header class="mx-2 my-4">
    <h1 class="font-medium h4 italic mt-1 text-gray-700">
      <b>{texte.denominationStructurelle} :</b>
      {texte.titres.titrePrincipalCourt}
    </h1>
  </header> -->

  <!-- TODO: Remove.-->
  <!-- <a class="a" href="textes/senat/{texte.uid}/amendements">
    amendements
  </a> -->

  <!-- <div class="flex justify-end mt-6">
    <form
      action={amendaUrl("api/nouveau")}
      method="post"
      on:submit={() => prepareToAmend()}>
      <input name="hostname" type="hidden" value={config.title} />
      <input name="legislation" type="hidden" value={legislationToAmend} />
      <input
        name="originalHostname"
        type="hidden"
        value="Assemblée nationale" />
      <input name="originalUrl" type="hidden" value={texteSenatUrl} />
      <input name="path" type="hidden" value="senat/{texte.uid}" />
      <input
        name="title"
        type="hidden"
        value={texte.titres.titrePrincipalCourt} />
      <input
        name="type"
        type="hidden"
        value={texte.denominationStructurelle} />
      <input name="url" type="hidden" value={locationHref} />
      <button
        class="bg-teal-500 hover:bg-teal-600 font-bold py-2 px-4 rounded
        text-white"
        type="submit">
        Amender
      </button>
    </form>
  </div> -->

  <!-- {#each subdivisions as subdivision}
    <section>
      <header>
        {#each subdivision.text.headers as header}
          <h3
            class="{classFromSubdivisionLevel(subdivision.level)} my-4
            text-center">
            {header}
          </h3>
        {/each}
      </header>
      {#each subdivision.text.alineas as alinea}
        <p class="leading-tight my-2">{alinea}</p>
      {/each}
    </section>
  {/each} -->

  <pre>{JSON.stringify(texte, null, 2)}</pre>
</article>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2
        class="bg-indigo-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div
        class="bg-indigo-100 border border-t-0 border-indigo-400 px-4 py-3
        rounded-b text-indigo-600">
        <h3 class="font-medium mb-1 text-base text-normal">Sénat</h3>

        <ul>
          <li>
            <a
              class="a"
              href={resolveUrl("https://www.senat.fr/leg/", texte.texurl)}
              target="_blank">
              Texte n°
              <!-- {#if lecass.ass.codass === "S"} -->
              {texte.texnum}
              <small>({texte.sesann}-{texte.sesann + 1})</small>
              <!-- {
              :else
                }{step.texnum}{
              /if} -->
            </a>
          </li>
          <!-- <li>
            <a class="a" href={pdfTexteSenatUrl} target="_blank">
              version PDF
            </a>
          </li>
          <li>
            <a class="a" href={rawTexteSenatUrl} target="_blank">
              version brute
            </a>
          </li> -->
        </ul>
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div
        class="bg-teal-100 border border-t-0 border-teal-400 px-4 py-3 rounded-b
        text-teal-600">
        <ul>
          <li>
            <button
              class="button-link"
              on:click={() => ($showNewIssueModal = true)}
              title="Ouvre un formulaire de saisie d'une remarque sur cette
              page."
              type="button">
              Signaler un problème ou suggérer une amélioration
            </button>
          </li>
          <li>
            <a
              class="a"
              href="textes/senat/{texte.texcod}/api"
              target="_blank"
              title="Voir les appels à l'API effectués pour générer cette page.">
              Appels à l'API
            </a>
          </li>
          <li>
            <a
              class="a"
              href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/textes/senat/[texte]/index.html"
              target="_blank"
              title="Voir le code source de la page dans la forge du logiciel.">
              Code source de cette page
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
