<script context="module">
  import { insertDocumentReferences } from "@tricoteuses/assemblee/lib/inserters"

  import config from "../../../../config"
  import {
    classFromSubdivisionLevel,
    urlFromDocument,
  } from "../../../../model/assemblee"
  import { validateJsonResponse } from "../../../../validators/responses"

  export async function preload(page) {
    const { document: documentUid } = page.params

    const document = await retrieveDocument(
      this.fetch,
      this.error,
      page,
      documentUid,
    )

    const rawDocumentAssembleeUrl = urlFromDocument(document, "raw-html")
    const { subdivisions } = await retrieveContenuTexteLoi(
      this.fetch,
      this.error,
      page,
      rawDocumentAssembleeUrl,
    )

    return {
      document,
      documentAssembleeUrl: urlFromDocument(document, "html"),
      pdfDocumentAssembleeUrl: urlFromDocument(document, "pdf"),
      rawDocumentAssembleeUrl,
      subdivisions: subdivisions || [],
    }
  }

  async function retrieveContenuTexteLoi(
    fetch,
    gotoError,
    page,
    documentUrlPath,
  ) {
    const texteLoiUrl = "documents/texte_loi"
    let response = await fetch(
      new URL(texteLoiUrl, config.assembleeApi.url).toString(),
      {
        body: JSON.stringify(
          {
            url: documentUrlPath,
          },
          null,
          2,
        ),
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
        method: "POST",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${
          page.path
        }, while retrieving "contenu du texte de loi": ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    return result
  }

  async function retrieveDocument(fetch, gotoError, page, documentUid) {
    const response = await fetch(
      new URL(
        `documents/${documentUid}?` +
          [
            "document.auteurs.acteur.acteur",
            "document.auteurs.organe",
            "document.dossier",
          ]
            .map(follow => `follow=${follow}`)
            .join("&"),
        config.assembleeApi.url,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${page.path}, while retrieving document: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    return insertDocumentReferences(
      result.documentByUid[result.uid],
      result,
      new Set(),
    )
  }
</script>

<script>
  import { showNewIssueModal } from "../../../../stores"

  export let document
  export let subdivisions
  export let documentAssembleeUrl
  export let pdfDocumentAssembleeUrl
  export let rawDocumentAssembleeUrl

  const headingPrefixRegExpByLevel = {
    1: /^Tome /i,
    2: /^Partie /i,
    3: /^Livre /i,
    4: /^Titre /i,
    5: /^Chapitre /i,
    6: /^Section /i,
    7: /^Sous-section /i,
    8: /^Paragraphe /i,
    9: /^Article /i,
  }

  let legislationToAmend = null
  let locationHref = null

  function amendaUrl(path) {
    return new URL(path, config.amenda.url)
  }

  async function prepareToAmend() {
    // Generate Markdown text.
    const lines = []
    for (const subdivision of subdivisions) {
      let header = subdivision.text.headers[0]
      const headingPrefixRegExp = headingPrefixRegExpByLevel[subdivision.level]
      if (!headingPrefixRegExp.test(header)) {
        header = `[NIVEAU ${subdivision.level}] ${header}`
      }
      lines.push("")
      lines.push(`${"#".repeat(subdivision.relativeLevel)} ${header}`)
      for (const header of subdivision.text.headers.slice(1)) {
        lines.push("")
        lines.push(`${"#".repeat(subdivision.relativeLevel)} ${header}`)
      }
      for (const alinea of subdivision.text.alineas) {
        lines.push("")
        lines.push(alinea)
      }
    }
    lines.shift() // Remove first blank line.

    legislationToAmend = lines.join("\n") + "\n"
    locationHref = window.location.href // eslint-disable-line no-undef
  }
</script>

<svelte:head>
  <title>
    {document.titres.titrePrincipalCourt} | Assemblée | Documents | {config.title}
  </title>
</svelte:head>

<article>
  <header class="mx-2 my-4">
    <h1 class="font-medium h4 italic mt-1 text-gray-700">
      <b>{document.denominationStructurelle} :</b>
      {document.titres.titrePrincipalCourt}
    </h1>
  </header>

  <!-- TODO: Remove.-->
  <a class="a" href="documents/assemblee/{document.uid}/amendements">
    amendements
  </a>

  <div class="flex justify-end mt-6">
    <form
      action={amendaUrl("api/nouveau")}
      method="post"
      on:submit={() => prepareToAmend()}>
      <input name="hostname" type="hidden" value={config.title} />
      <input name="legislation" type="hidden" value={legislationToAmend} />
      <input
        name="originalHostname"
        type="hidden"
        value="Assemblée nationale" />
      <input name="originalUrl" type="hidden" value={documentAssembleeUrl} />
      <input name="path" type="hidden" value="assemblee/{document.uid}" />
      <input
        name="title"
        type="hidden"
        value={document.titres.titrePrincipalCourt} />
      <input
        name="type"
        type="hidden"
        value={document.denominationStructurelle} />
      <input name="url" type="hidden" value={locationHref} />
      <button
        class="bg-teal-500 hover:bg-teal-600 font-bold py-2 px-4 rounded
        text-white"
        type="submit">
        Amender
      </button>
    </form>
  </div>

  {#each subdivisions as subdivision}
    <section>
      <header>
        {#each subdivision.text.headers as header}
          <h3
            class="{classFromSubdivisionLevel(subdivision.level)} my-4
            text-center">
            {header}
          </h3>
        {/each}
      </header>
      {#each subdivision.text.alineas as alinea}
        <p class="leading-tight my-2">{alinea}</p>
      {/each}
    </section>
  {/each}
</article>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2
        class="bg-indigo-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div
        class="bg-indigo-100 border border-t-0 border-indigo-400 px-4 py-3
        rounded-b text-indigo-600">
        <h3 class="font-medium mb-1 text-base text-normal">
          Assemblée nationale
        </h3>

        <ul>
          <li>
            <a class="a" href={documentAssembleeUrl} target="_blank">
              {document.denominationStructurelle} : {document.titres.titrePrincipalCourt}
            </a>
          </li>
          <li>
            <a class="a" href={pdfDocumentAssembleeUrl} target="_blank">
              version PDF
            </a>
          </li>
          <li>
            <a class="a" href={rawDocumentAssembleeUrl} target="_blank">
              version brute
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div
        class="bg-teal-100 border border-t-0 border-teal-400 px-4 py-3 rounded-b
        text-teal-600">
        <ul>
          <li>
            <button
              class="button-link"
              on:click={() => ($showNewIssueModal = true)}
              title="Ouvre un formulaire de saisie d'une remarque sur cette
              page."
              type="button">
              Signaler un problème ou suggérer une amélioration
            </button>
          </li>
          <li>
            <a
              class="a"
              href="documents/assemblee/{document.uid}/api"
              target="_blank"
              title="Voir les appels à l'API effectués pour générer cette page.">
              Appels à l'API
            </a>
          </li>
          <li>
            <a
              class="a"
              href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/documents/assemblee/[document]/index.html"
              target="_blank"
              title="Voir le code source de la page dans la forge du logiciel.">
              Code source de cette page
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
