<script>
  import Tabs from "smelte/src/components/Tabs"

  import { stores } from "@sapper/app"

  const { page } = stores()

  $: personneUid = $page.params.personne

  $: path = $page.path

  $: topMenu = [
    { to: `personnes/assemblee/${personneUid}`, text: "Général" },
    { to: `personnes/assemblee/${personneUid}/agenda`, text: "Agenda" },
  ]
</script>

<Tabs class="bg-gray-900" items={topMenu} bind:selected={path} />

<slot />
