<script context="module">
  import { validateDateIso8601String } from "@biryani/core"
  import {
    insertActeurReferences,
    insertReunionReferences,
  } from "@tricoteuses/assemblee/lib/inserters"
  import { EtatCycleDeVie } from "@tricoteuses/assemblee/lib/types/agendas"

  import config from "../../../../config"
  import {
    frenchDateFormat,
    frenchTimeFormat,
    localIso8601StringFromDate,
  } from "../../../../dates"
  import { validateJsonResponse } from "../../../../validators/responses"

  export async function preload(page) {
    const { personne: personneUid } = page.params
    let [date, dateError] = validateDateIso8601String(page.query.date)
    date = dateError === null ? new Date(date) : new Date()

    const [personne, reunions] = await Promise.all([
      retrieveActeur(this.fetch, this.error, page, personneUid),
      retrieveActeurAgenda(
        this.fetch,
        this.error,
        page,
        personneUid,
        localIso8601StringFromDate(date),
      ),
    ])

    return {
      date,
      personne,
      reunions,
    }
  }

  async function retrieveActeur(fetch, gotoError, page, acteurUid) {
    const response = await fetch(
      new URL(`acteurs/${acteurUid}`, config.assembleeApi.url).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${page.path}, while retrieving "acteur": ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    return insertActeurReferences(
      result.acteurByUid[result.uid],
      result,
      new Set(),
    )
  }

  async function retrieveActeurAgenda(
    fetch,
    gotoError,
    page,
    acteurUid,
    dateString,
  ) {
    const response = await fetch(
      new URL(
        "reunions?" +
          [
            `acteur=${encodeURIComponent(acteurUid)}`,
            `debut=${encodeURIComponent(dateString)}`,
            `fin=${encodeURIComponent(dateString)}`,
            "follow=reunion.demandeurs.acteurs.acteur",
            "follow=reunion.demandeurs.organe.organe",
            "follow=reunion.organeReuni",
          ].join("&"),
        config.assembleeApi.url,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${
          page.path
        }, while retrieving "acteur"'s agenda: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    return result.uids.map(uid =>
      insertReunionReferences(result.reunionByUid[uid], result, new Set()),
    )
  }
</script>

<script>
  import Icon from "smelte/src/components/Icon"

  import { stores } from "@sapper/app"

  const { page } = stores()

  export let date
  export let personne
  export let reunions

  let nextDay
  let previousDay

  $: cleanReunions = reunions
    .filter(reunion =>
      [EtatCycleDeVie.Confirmé, EtatCycleDeVie.Eventuel].includes(
        reunion.cycleDeVie.etat,
      ),
    )
    .sort((a, b) => a.timestampDebut.localeCompare(b.timestampDebut))

  $: headTitle = `${localIso8601StringFromDate(date)} | Agenda | ${
    personne.etatCivil.ident.prenom
  } ${personne.etatCivil.ident.nom} | Assemblée | Personnes | ${config.title}`

  $: {
    nextDay = new Date(date)
    nextDay.setDate(nextDay.getDate() + 1)
  }

  $: {
    previousDay = new Date(date)
    previousDay.setDate(previousDay.getDate() - 1)
  }

  async function changeDate(newDate) {
    date = newDate
    const dateString = localIso8601StringFromDate(date)
    // eslint-disable-next-line no-undef
    window.history.pushState(
      {},
      headTitle,
      `personnes/assemblee/${personne.uid}/agenda?date=${dateString}`,
    )
    const response = await fetch(
      new URL(
        "reunions?" +
          [
            `acteur=${encodeURIComponent(personne.uid)}`,
            `debut=${encodeURIComponent(dateString)}`,
            `fin=${encodeURIComponent(dateString)}`,
            "follow=reunion.organeReuni",
            "follow=reunion.demandeurs.acteurs.acteur",
            "follow=reunion.demandeurs.organe.organe",
          ].join("&"),
        config.assembleeApi.url,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      console.error(
        `Error at ${
          $page.path
        }, while retrieving "acteur"'s agenda: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
      return
    }
    reunions = result.uids.map(uid =>
      insertReunionReferences(result.reunionByUid[uid], result, new Set()),
    )
  }

  function reunionColorStyle(reunion) {
    return `border-color: ${reunionColor(reunion)}`
  }

  function reunionColor(reunion) {
    let color = {
      LaREM: "#2abaff", // cyan
      reunionCommission_type: "#ff4d89", // rose
      seance_type: "#61e9d5", // vert
      reunionInitParlementaire_type: "#ffeb00", // jaune
    }[reunion.xsiType]
    if (color === undefined) {
      // color = reunion.color
      color = "#808080" // un gris au hasard
    }
    return color
  }

  function reunionDescription(reunion) {
    const odj = reunion.odj
    if (odj !== undefined) {
      const description = odj.convocationOdj
        ? odj.convocationOdj.join("\n")
        : odj.pointsOdj
        ? odj.pointsOdj
            .filter(pointOdj =>
              [EtatCycleDeVie.Confirmé, EtatCycleDeVie.Eventuel].includes(
                pointOdj.cycleDeVie.etat,
              ),
            )
            .map(pointOdj => pointOdj.objet)
            .join("\n")
        : odj.resumeOdj
        ? odj.resumeOdj.join("\n")
        : null
      if (description !== null) {
        return description
      }
    }
    return "Réservation de salle"
  }

  function reunionOrganizer(reunion) {
    let organeReuni = undefined
    if (reunion.organeReuniRef !== undefined) {
      organeReuni = reunion.organeReuni
      if (organeReuni === undefined) {
        console.log(`Organe réuni inconnu: ${reunion.organeReuniRef}`)
      }
    }
    if (organeReuni === undefined) {
      const demandeurs = reunion.demandeurs
      if (demandeurs === undefined) {
        return "Organisateur inconnu"
      } else {
        if (demandeurs.organe !== undefined) {
          const organe = demandeurs.organe.organe
          if (organe === undefined) {
            console.log(`Organe demandeur inconnu: ${demandeurs.organe}`)
          } else {
            return organe.libelleAbrege
          }
        }
        const demandeursActeursNoms = []
        for (const acteurSummary of demandeurs.acteurs || []) {
          const acteur = acteurSummary.acteur
          if (acteur === undefined) {
            console.log(`Acteur demandeur inconnu: ${acteurSummary}`)
            continue
          }
          demandeursActeursNoms.push(
            `${acteur.etatCivil.ident.nom}, ${acteur.etatCivil.ident.prenom}`,
          )
        }
        if (demandeursActeursNoms.length === 0) {
          return "Demandeurs inconnus"
        }
        return demandeursActeursNoms.join(", ")
      }
    } else {
      return organeReuni.libelleAbrege === "Assemblée"
        ? "Séance"
        : organeReuni.libelleAbrege
    }
  }

  function reunionTimeRange(reunion) {
    let timeRange = frenchTimeFormat
      .format(new Date(reunion.timestampDebut))
      .replace(/:/, " h ")
    if (
      reunion.timestampFin !== undefined &&
      reunion.timestampFin !== reunion.timestampDebut
    ) {
      timeRange = `${timeRange} - ${frenchTimeFormat
        .format(new Date(reunion.timestampFin))
        .replace(/:/, " h ")}`
    }
    if (timeRange === "00 h 00" || timeRange === "00 h 00 - 00 h 00") {
      timeRange = "Toute la journée"
    }
    return timeRange
  }
</script>

<svelte:head>
  <title>{headTitle}</title>
</svelte:head>

<h1 class="h4">
  {personne.etatCivil.ident.prenom} {personne.etatCivil.ident.nom}
</h1>

<!-- <a
  class="badge badge-info"
  href="personnes/assemblee/{personne.uid}/agenda/api"
  title="Voir les appels à l'API effectués pour afficher cette page.">
  API
</a> -->

<h5 class="mt-2 border-b pb-2 text-lg">
  <span class="flex flex-row items-center justify-center">
    <a
      class="hover:opacity-100 opacity-50 text-md"
      href="?date={localIso8601StringFromDate(previousDay)}"
      on:click|preventDefault={() => changeDate(previousDay)}>
      <Icon>chevron_left</Icon>
    </a>
    <span class="inline-block mx-3 text-center w-56">
      {frenchDateFormat.format(date)}
    </span>
    <a
      class="hover:opacity-100 opacity-50 text-md"
      href="?date={localIso8601StringFromDate(nextDay)}"
      on:click|preventDefault={() => changeDate(nextDay)}>
      <Icon>chevron_right</Icon>
    </a>
  </span>
</h5>

<ul
  class="overflow-y-auto border-t border-gray-400 bg-white calendarList"
  style="font-size:0.8em;">
  {#each cleanReunions as reunion}
    <li class="my-4">
      <div class="border-l-4 mb-3 px-3 py-1" style={reunionColorStyle(reunion)}>
        <div class="font-semibold">
          {reunionTimeRange(reunion)} — {reunionOrganizer(reunion)}
        </div>
        {#if reunion.lieu !== undefined || reunion.ouverturePresse || reunion.captationVideo}
          <div>
            <span class="italic">
              {reunion.lieu.libelleLong || reunion.lieu.libelleCourt || reunion.lieu.code || "Lieu à préciser"}
            </span>
            {#if reunion.ouverturePresse}
              —
              <i>Ouvert à la presse</i>
            {/if}
            {#if reunion.captationVideo}
              —
              <i>Captation vidéo</i>
            {/if}
          </div>
        {/if}
      </div>
      <div class="ml-5 whitespace-pre-line">
        {@html reunionDescription(reunion)}
      </div>
    </li>
  {/each}
</ul>
