<script context="module">
  import { insertActeurReferences } from "@tricoteuses/assemblee/lib/inserters"

  import config from "../../../../config"
  import { validateJsonResponse } from "../../../../validators/responses"

  export async function preload(page) {
    const { personne: personneUid } = page.params

    const personne = await retrieveActeur(
      this.fetch,
      this.error,
      page,
      personneUid,
    )

    return {
      personne,
    }
  }

  async function retrieveActeur(fetch, gotoError, page, acteurUid) {
    const response = await fetch(
      new URL(
        `acteurs/${acteurUid}?` + ["follow=acteur.mandats.organes"].join("&"),
        config.assembleeApi.url,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${page.path}, while retrieving "acteur": ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    return insertActeurReferences(
      result.acteurByUid[result.uid],
      result,
      new Set(),
    )
  }
</script>

<script>
  import Card from "smelte/src/components/Card"
  import Image from "smelte/src/components/Image"

  import {
    fonctionsOrganes,
    getAttribute,
    getCommissionPermanente,
    getGroupePolitique,
  } from "../../../../model/assemblee"
  import { showNewIssueModal } from "../../../../stores"

  export let personne

  const today = new Date().toISOString().split("T")[0]

  const fonctionsOrganesAndMandats = fonctionsOrganes.map(fonctionOrgane => ({
    ...fonctionOrgane,
    typesOrganes: fonctionOrgane.typesOrganes.map(typeOrgane => ({
      ...typeOrgane,
      mandats: personne.mandats.filter(
        mandat =>
          mandat.nominPrincipale && mandat.typeOrgane === typeOrgane.code,
      ),
    })),
  }))

  function nomEtPrenom(acteur) {
    const { nom, prenom } = acteur.etatCivil.ident
    return `${nom}, ${prenom}`
  }

  function photoUrl(acteur) {
    return new URL(acteur.photo.chemin, config.assembleeApi.url)
  }
</script>

<svelte:head>
  <title>
    {personne.etatCivil.ident.prenom} {personne.etatCivil.ident.nom} | Députés |
    {config.title}
  </title>
</svelte:head>

<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="card text-center mt-3">
      <Card.Card>
        <div slot="title">
          <Card.Title
            title={nomEtPrenom(personne)}
            subheader={getAttribute(getGroupePolitique(personne, today), "libelle", "Groupe inconnu")} />
        </div>
        <div slot="media">
          <Image
            class="w-full"
            src={photoUrl(personne)}
            alt="Photo de {personne.etatCivil.ident.civ}
            {nomEtPrenom(personne)}" />
        </div>
        <div class="mx-auto" slot="text">
          <i>
            {getAttribute(getCommissionPermanente(personne, today), "libelleAbrege", "Commission inconnue")}
          </i>
        </div>
      </Card.Card>
    </div>
  </div>

  {#each fonctionsOrganesAndMandats as fonctionOrgane (fonctionOrgane.code)}
    <!-- {#if fonctionOrgane.typesOrganes.some(typeOrgane => typeOrgane.mandats.length > 0)} -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div class="card text-center mt-3">
        <div class="card-body">
          <h4 class="card-title text-lg">{fonctionOrgane.libellePluriel}</h4>
        </div>
        {#each fonctionOrgane.typesOrganes as typeOrgane (typeOrgane.code)}
          {#if typeOrgane.mandats.length > 0}
            <div class="card-body">
              <h5 class="card-text text-lg">
                {typeOrgane.mandats.length > 1 ? typeOrgane.libellePluriel : typeOrgane.libelle}
              </h5>
            </div>
            <ul>
              {#each typeOrgane.mandats as mandat (mandat.uid)}
                <li>
                  <a
                    class="a"
                    href="organes/{mandat.organesRefs[0]}"
                    rel="prefetch">
                    {mandat.organes[0].libelle}
                  </a>
                </li>
              {/each}
            </ul>
          {/if}
        {/each}
      </div>
    </div>
    <!-- {/if} -->
  {/each}
</div>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2
        class="bg-indigo-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div
        class="bg-indigo-100 border border-t-0 border-indigo-400 px-4 py-3
        rounded-b text-indigo-600">
        <h3 class="font-medium mb-1 text-base text-normal">
          Assemblée nationale
        </h3>

        <ul>
          <li>
            <a
              href="https://www2.assemblee-nationale.fr/deputes/fiche/OMC_{personne.uid}"
              target="_blank">
              Informations sur {personne.etatCivil.ident.prenom} {personne.etatCivil.ident.nom}
            </a>
          </li>
        </ul>

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          NosDéputés.fr
        </h3>

        <ul>
          <li>
            <a class="a" href="https://www.nosdeputes.fr/TODO" target="_blank">
              Activité parlementaire de {personne.etatCivil.ident.prenom} {personne.etatCivil.ident.nom}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div
        class="bg-teal-100 border border-t-0 border-teal-400 px-4 py-3 rounded-b
        text-teal-600">
        <ul>
          <li>
            <button
              class="button-link"
              on:click={() => ($showNewIssueModal = true)}
              title="Ouvre un formulaire de saisie d'une remarque sur cette
              page."
              type="button">
              Signaler un problème ou suggérer une amélioration
            </button>
          </li>
          <li>
            <a
              class="a"
              href="personnes/assemblee/{personne.uid}/api"
              target="_blank"
              title="Voir les appels à l'API effectués pour générer cette page.">
              Appels à l'API
            </a>
          </li>
          <li>
            <a
              class="a"
              href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/personnes/assemblee/[personne]/index.html"
              target="_blank"
              title="Voir le code source de la page dans la forge du logiciel.">
              Code source de cette page
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
