<script context="module">
  import { chronologyFromSenatSteps, stepsFromLoi } from "@tricoteuses/dossiers-legislatifs/lib/chronologies/senat"
  import { insertLoiReferences } from "@tricoteuses/senat/lib/inserters"

  import SenatStep from "../../../../components/senat/SenatStep.svelte"
  import config from "../../../../config"
  import {
    displayDateFromEpoch,
    frenchDateWithoutDayOfWeekFromDateOrString,
  } from "../../../../dates"
  import { colorFromEtaloilib } from "../../../../model/senat"
  import { capitalizeFirstLetter } from "../../../../strings"
  import { validateJsonResponse } from "../../../../validators/responses"

  export async function preload(page) {
    const { dossier: loicod } = page.params

    return await retrieveDossier(this.fetch, this.error, page, loicod)
  }

  async function retrieveDossier(fetch, gotoError, page, loicod) {
    const response = await fetch(
      new URL(
        `dossiers/${loicod}?` +
          [
            "aud.org",
            "auteur.qua",
            "dateSeance.debat",
            "dateSeance.scrs",
            "docatt.rec",
            "docatt.typatt",
            "ecr.aut",
            "lecass.ass",
            "lecass.auds",
            "lecass.datesSeances",
            "lecass.debats",
            "lecass.lecassraps",
            "lecass.org",
            "lecass.textes",
            "lecassrap.rap",
            "lecture.lecasss",
            "lecture.typlec",
            "loi.deccoc",
            "loi.etaloi",
            "loi.lectures",
            "loi.typloi",
            "rap.denrap",
            "rap.docatts",
            "rap.ecrs",
            "rap.orgs",
            "texte.ecrs",
            "texte.org",
            "texte.oritxt",
          ]
            .map(follow => `follow=${follow}`)
            .join("&"),
        config.senatApi.url,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${page.path}, while retrieving "dossier": ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    const loi = insertLoiReferences(result.loi[result.id], result, {})

    const steps = stepsFromLoi(loi)
    const chronology = chronologyFromSenatSteps(steps)
    const lastUrlJo = loi.url_jo3 || loi.url_jo2 || loi.url_jo
    const urlRegExp = /^https?:\/\/www\.legifrance\.gouv\.fr\/eli\//
    const archeoLexUrl =
      lastUrlJo === null || lastUrlJo.match(urlRegExp) === null
        ? null
        : lastUrlJo.replace(urlRegExp, "https://archeo-lex.fr/eli/")

    return {
      archeoLexUrl,
      chronology,
      loi,
    }
  }
</script>

<script>
  // import Icon from "smelte/src/components/Icon"

  import { showNewIssueModal } from "../../../../stores"

  export let archeoLexUrl
  export let chronology
  export let loi
  export let stepsByOrganismeByEpochByLectureAndAssemblee

  let closedBlock = {}

  function toggleBlock(symbol) {
    closedBlock = {
      ...closedBlock,
      [symbol]: !closedBlock[symbol],
    }
  }
</script>

<svelte:head>
  <title>{loi.loient} | Sénat | Dossiers législatifs | {config.title}</title>
</svelte:head>

<article class="mx-2">
  <header class="my-4">
    <h1 class="h4">
      {loi.loient}
      <span
        class="bg-{colorFromEtaloilib(loi.etaloi.etaloilib)} p-1 rounded
        text-base text-white">
        {loi.etaloi.etaloilib === "promulgué ou adopté (ppr)" ? "adopté" : loi.etaloi.etaloilib}
      </span>
    </h1>
    <h2 class="font-medium h5 italic mt-1 text-gray-700">
      <b>{capitalizeFirstLetter(loi.typloi.typloiden)}</b>
      {loi.loiint}
    </h2>
    {#if loi.proaccdat !== null && loi.proaccoppdat === null && loi.retproaccdat === null}
      <h3 class="h6 mt-1">Procédure accélérée engagée par le Gouvernement</h3>
    {/if}
  </header>

  <!-- <h2 class="h5 mt-6">Sommaire</h2>
  <ul>
    {#each dossier.summaryStepsKnitted as summaryStep}
      <li class="my-1 p-1">
        <span class="bg-{summaryStep.color} my-1 p-1 text-white">
          {summaryStep.organeName}
          {#if summaryStep.title !== null}— {summaryStep.title}{/if}
        </span>
        {#if summaryStep.status !== null && summaryStep.status.label !== null}
          <span
            class="bg-{summaryStep.status.color} p-1 rounded text-base
            text-white">
            {summaryStep.status.label}
          </span>
        {/if}
      </li>
    {/each}
  </ul> -->

  {#if loi.objet}
    <div class="my-4 w-full">
      <h2
        class="bg-gray-700 cursor-pointer font-bold inline-block px-4 py-1
        rounded-br-lg rounded-tl-lg text-lg text-white"
        on:click={() => toggleBlock("objet")}>
        Objet du texte
        {#if closedBlock["objet"]}
          <i class="fas fa-chevron-circle-down" />
        {:else}
          <i class="fas fa-chevron-circle-up" />
        {/if}
      </h2>
      {#if !closedBlock["objet"]}
        <div
          class="bg-gray-300 border-l-8 border-t-0 border-gray-700
          leading-normal px-2 py-3">
          {@html loi.objet.replace(/^\d+\s+/, "").replace(/\n/g, "<br>\n")}
        </div>
      {/if}
    </div>
  {/if}

  <h2 class="h5 mt-6">Chronologie</h2>

  {#each stepsByOrganismeByEpochByLectureAndAssemblee as [lecture, lecass, stepsByOrganismeByEpoch]}
    <section>
      <h3
        class="{lecass.ass.codass === 'A' ? 'bg-assemblee' : lecass.ass.codass === 'C' ? 'bg-conseil-constitutionnel' : lecass.ass.codass === 'G' ? 'bg-gouvernement' : lecass.ass.codass === 'S' ? 'bg-senat' : 'bg-yellow-800'}
        cursor-pointer font-bold inline-block mt-5 px-4 py-1 rounded-br-lg
        rounded-tl-lg text-lg text-white"
        on:click={() => toggleBlock(lecass.lecassidt)}>
        {#if !["C", "G", "I"].includes(lecass.ass.codass)}
          {lecass.ass.libass} —
        {/if}
        {lecture.leccom}
        {#if closedBlock[lecass.lecassidt]}
          <i class="fas fa-chevron-circle-down" />
        {:else}
          <i class="fas fa-chevron-circle-up" />
        {/if}
      </h3>
      {#if !closedBlock[lecass.lecassidt]}
        <div
          class="border-l-8 {lecass.ass.codass === 'A' ? 'border-assemblee' : lecass.ass.codass === 'C' ? 'border-conseil-constitutionnel' : lecass.ass.codass === 'G' ? 'border-gouvernement' : lecass.ass.codass === 'S' ? 'border-senat' : 'border-yellow-800'}
          pl-2">
          {#each stepsByOrganismeByEpoch as [epoch, stepsByOrganisme]}
            <section>
              <h4 class="pt-4">{displayDateFromEpoch(epoch)}</h4>
              {#each stepsByOrganisme as [organisme, steps]}
                {#if organisme === null}
                  <section class="ml-4">
                    <ul class="list-reset">
                      {#each steps as step}
                        <li class="mt-2">
                          <SenatStep {step} {lecass} {lecture} />
                        </li>
                      {/each}
                    </ul>
                  </section>
                {:else}
                  <section class="ml-4">
                    <h5 class="mb-2 mt-3 text-lg">
                      {capitalizeFirstLetter(organisme.orgnom)}
                    </h5>
                    <ul>
                      {#each steps as step}
                        <li>
                          <SenatStep {step} {lecass} {lecture} />
                        </li>
                      {/each}
                    </ul>
                  </section>
                {/if}
              {/each}
            </section>
          {/each}
        </div>
      {/if}
    </section>
  {/each}
</article>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2
        class="bg-indigo-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div
        class="bg-indigo-100 border border-t-0 border-indigo-400 px-4 py-3
        rounded-b text-indigo-600">
        {#if loi.url_an}
          <h3 class="font-medium mb-1 text-base text-normal">
            Assemblée nationale
          </h3>

          <ul>
            <li>
              <a class="a" href={loi.url_an} target="_blank">
                Dossier législatif {loi.typloi.typloide} {loi.typloi.typloiden}
              </a>
            </li>
          </ul>
        {/if}

        <h3
          class="font-medium mb-1{loi.url_an ? ' mt-4' : ''} text-base
          text-normal">
          Sénat
        </h3>

        <ul>
          <li>
            <a
              class="a"
              href="https://www.senat.fr/dossier-legislatif/{loi.signet}.html"
              target="_blank">
              Dossier législatif {loi.typloi.typloide} {loi.typloi.typloiden}
            </a>
          </li>
        </ul>

        {#if loi.doscocurl}
          <h3 class="font-medium mb-1 mt-4 text-base text-normal">
            Conseil constitutionnel
          </h3>

          <ul>
            <li>
              <a class="a" href={loi.doscocurl} target="_blank">
                Dossier législatif {loi.typloi.typloide} {loi.typloi.typloiden}
              </a>
            </li>
          </ul>
        {/if}

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          La fabrique de la loi
        </h3>

        <ul>
          <li>
            <a
              class="a"
              href="https://www.lafabriquedelaloi.fr/articles.html?loi={loi.signet}"
              target="_blank">
              Étapes et versions {loi.typloi.typloide} {loi.typloi.typloiden}
            </a>
          </li>
        </ul>

        {#if archeoLexUrl !== null}
          <h3 class="font-medium mb-1 mt-4 text-base text-normal">
            Archéo Lex
          </h3>

          <ul>
            <li>
              <a class="a" href={archeoLexUrl} target="_blank">
                Historique de la loi n° {loi.numero} du {frenchDateWithoutDayOfWeekFromDateOrString(loi.date_loi)}
                {loi.loititjo}
              </a>
            </li>
          </ul>
        {/if}
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div
        class="bg-teal-100 border border-t-0 border-teal-400 px-4 py-3 rounded-b
        text-teal-600">
        <ul>
          <li>
            <button
              class="button-link"
              on:click={() => ($showNewIssueModal = true)}
              title="Ouvre un formulaire de saisie d'une remarque sur cette
              page."
              type="button">
              Signaler un problème ou suggérer une amélioration
            </button>
          </li>
          <li>
            <a
              class="a"
              href="dossiers/senat/{loi.signet}/api"
              target="_blank"
              title="Voir les appels à l'API effectués pour générer cette page.">
              Appels à l'API
            </a>
          </li>
          <li>
            <a
              class="a"
              href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/dossiers/senat/[dossier]/index.html"
              target="_blank"
              title="Voir le code source de la page dans la forge du logiciel.">
              Code source de cette page
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
